* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-label {
    color: white;
    margin:0 15 px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:rgb(61, 61, 61);
}

.call-box {
    /* margin: 20px auto; */
    padding: 20px 0px 0px 0px;
    width: 400px;
    background: #292b2c;
    box-shadow: 0 0 12px black;
}

.btn-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cbtn {
    border: 1px solid gray;
    color: white;
    font-size: 16px;
    height:100px;
    background: #292b2c;
}
#equl{
    grid-area: 4/4/6/5;
    height:100%;
    background:#fc6524;
}
.op{
    background:#484848;
}
.display {
    text-align:right;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border-radius: 4px;
    border: none;
    color: white;
    background:none;
    font-family: 'Roboto', sans-serif;
}

#AC {
    background-color: #dc3545;
    color: white;
}

@media (max-width:540px) {
    .call-box {
        width: 100%;
        margin: 0;
    }

    .row {
        margin: 0;
        padding: 0
    }
}
